/node_modules/*
/data.json
/cache/*
/package-lock.json
.env
/bot/node_modules/*
/bot/package-lock.json
/bot/data/*
/test/cs-lang/obj/*
/test/cs-lang/bin/*
.DS_Store
/passCache.json
./dataPass.json
/cache
