/node_modules/*
/data.json
/cache/*
/package-lock.json
.env
/bot/node_modules/*
/bot/package-lock.json
/bot/data/*
/test/cs-lang/obj/*
/test/cs-lang/bin/*
.DS_Store
/passCache.json
/pathCache.json
./dataPass.json
/cache
/ts-library/**/*.js
/ts-library/**/*.js.map
/ts-library/**/*.d.ts
/main.js
/main.js.map
/main.d.ts
tsconfig.tsbuildinfo
