body {
    background: rgb(11, 43, 104);
    display: flex;
    margin: 0;
}

#video {
    width: 100%;
    aspect-ratio: 16/9;
    object-fit: contain;
}

#seekbar-wrap {
    display: flex;
    align-content: center;
    align-items: center;
    width: 90%;
    height: 5px;
    position: relative;
}

#seekbar-out,
#seekbar-in,
#seekbar-loadVideo,
#seekbar-loadAudio {
    width: 100%;
    height: 100%;
}

#seekbar-out {
    display: flex;
    background-color: rgb(131, 131, 131);
    transform: scaleY(1);
    overflow: hidden;
    border-radius: 100px;
}

#seekbar-in {
    position: absolute;
    margin: 0 auto 0 0;
    background-color: #00c3ff;
    transform-origin: top left;
}

#seekbar-loadVideo {
    position: absolute;
    margin: 0 auto 0 0;
    background-color: #ffbf4788;
    transform-origin: top left;
}

#seekbar-loadAudio {
    position: absolute;
    margin: 0 auto 0 0;
    background-color: #ffffff88;
    transform-origin: top left;
}

#seek-point {
    width: 10px;
    height: 10px;
    background-color: #00c3ff;
    border-radius: 20px;
    position: absolute;
    z-index: 1;
}

.playerWindow {
    margin: 10px;
    width: calc(100% - 20px);
    aspect-ratio: 16/9;
    background: black;
    position: relative;
}

.leftAria {
    width: calc(100% - 350px);
}

.rightAria {
    width: 350px;
}

.playerPopup {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    background: linear-gradient(rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.25));
}

.playerPopup:hover {
    opacity: 1;
}

.playerFooter {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 50px;
}

#playbutton {
    width: 50px;
}

.playerBtn {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 20px;
    height: 30px;
    margin: 10px 5px;
    padding: 0 5px;
    background: rgb(255, 215, 170);
    border-radius: 5px;
    font-size: 10px;
    border: 1px solid black;
    cursor: pointer;
}

.playerButton {
    display: flex;
    justify-content: space-between;
    width: calc(100% - 10px);
    height: calc(100% - 5px);
    margin: 0 5px;
}

.playerButtonLeft {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}

.playerButtonRight {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
}
