body {
    background: rgb(188 231 255);
}

.Top-Pop {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.Top-Message {
    border: black solid 1.5px;
    border-radius: 10px;
    margin: 10px;
    padding: 2.5px;
    background: rgb(255 255 255);
}

#App-List {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    border: black solid 1.5px;
    width: 90%;
    min-height: 100px;
    border-radius: 15px;
    background: rgb(245 244 255);
}

.Apps {
    display: flex;
    justify-content: center;
    border: black solid 1.5px;
    padding: 5px;
    border-radius: 15px;
    margin: 5px;
    width: 300px;
    overflow: hidden;
    min-height: 150px;
    background: rgb(255, 234, 172);
    position: relative;
}