#ytdlinbody {
    background: rgb(11, 43, 104);
}

#ytURLBox {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    padding: 5px;
    font-size: 20px;
    font-weight: 600;
    border: 0;
}

.yURL {
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.yURLBox {
    width: 75%;
    min-width: 65px;
    height: 41px;
    border-radius: 10px;
}

.yBoxEnterButton {
    width: 65px;
    min-width: 65px;
    height: 41px;
    border-radius: 10px;
    display: flex;
    position: relative;
    overflow: hidden;
    justify-content: space-around;
    align-items: center;
    padding: 0;
    margin-left: 10px;
    font-size: 20px;
    background: rgb(255, 255, 255);
    font-weight: 600;
}

.yVideoInfoBox {
    width: 100%;
    min-height: 300px;
    background: rgba(255, 255, 255, .1);
    display: flex;
}

.yVideoInfoThumbnail {
    background-color: rgb(255, 255, 255);
    border-radius: 15px;
    border: 2px solid black;
    width: 100%;
    object-fit: contain;
    aspect-ratio: 16/9;
}

.yVideoInfoImageAria {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    padding: 10px;
    width: 40%;
    height: 100%;
}

.yVideoInfoAria {
    width: 60%;
    height: 100%;
    padding: 10px 0;
}

.yVideoInfoTitle {
    font-size: 25px;
    font-weight: 600;
    color: white;
}

.yVideoInfoDescription {
    font-size: 11px;
    font-weight: 600;
    color: white;
}